body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#hello-world {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    /* Added padding for better spacing */
}

p {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    /* Added margin for spacing between text and button */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}